Repository merekorlowski/taskwipe, pull requests merged in 2018-03, with the labels that each got.

#9 Created layout and nav for application
  src/client/package-lock.json
  src/client/package.json
  src/client/public/index.html
  src/client/src/components/App/index.js
  src/client/src/components/App/styles.css
  src/client/src/components/Content/Projects/index.js
  src/client/src/components/Content/Projects/styles.css
  src/client/src/components/Content/Schedule/Calendar/Day/TimeSlot/index.js
  src/client/src/components/Content/Schedule/Calendar/Day/TimeSlot/styles.css
  src/client/src/components/Content/Schedule/Calendar/Day/index.js
  src/client/src/components/Content/Schedule/Calendar/Day/styles.css
  src/client/src/components/Content/Schedule/Calendar/index.js
  src/client/src/components/Content/Schedule/Calendar/styles.css
  src/client/src/components/Content/Schedule/index.js
  src/client/src/components/Content/Schedule/styles.css
  src/client/src/components/Content/Schedule/test.js
  src/client/src/components/Content/Tasks/index.js
  src/client/src/components/Content/Tasks/styles.css
  src/client/src/components/Content/index.js
  src/client/src/components/Content/styles.css
  src/client/src/components/Home/index.js
  src/client/src/components/Nav/index.js
  src/client/src/components/Nav/styles.css
  src/client/src/index.css
  src/client/src/models/Idea.js
Labels: Client, Dev, Layout

#27 Moved styles to their components
  src/client/package-lock.json
  src/client/package.json
  src/client/src/components/App/index.js
  src/client/src/components/App/styles.css
  src/client/src/components/App/test.js
  src/client/src/components/Content/styles.css
  src/client/src/components/Nav/styles.css
  src/client/src/index.css
Labels: Client, Styles

#30 Added http service to get dummy tasks from express server
  src/app.js
  src/client/package-lock.json
  src/client/package.json
  src/client/src/components/Content/Tasks/index.js
  src/client/src/services/employees.js
  src/client/src/services/httpConfig.js
  src/client/src/services/projects.js
  src/client/src/services/tasks.js
  src/package-lock.json
  src/package.json
  src/routes/index.js
  src/routes/tasks.js
Labels: Client, Dev, HTTP Service, Route, Server

#38 Employee model, employee_dummy_data and retrieving employee_dummy_data
  src/client/src/models/Employee.js
  src/routes/employee_data.json
  src/routes/employees.js
Labels: Dev

#59 Add mockup screenshots
  README.md
  resources/images/architecture.png
  resources/images/architecture/production_architecture.png
  resources/images/architecture/temporary_development_architecture.png
  resources/images/curriculum_page.png
  resources/images/deployment_diagram.png
  resources/images/ideas_page.png
  resources/images/instructors_page.png
  resources/images/login.png
  resources/images/mockups/v1/edit_task.png
  resources/images/mockups/v1/login_page.png
  resources/images/mockups/v1/projects_page.png
  resources/images/mockups/v1/schedule_page.png
  resources/images/mockups/v1/tasks_page.png
  resources/images/mockups/v1/tasks_page_add_task.png
  resources/images/participants_page.png
  resources/images/project_page.png
  resources/images/schedule_page.png
  resources/images/task_page.png
  resources/images/use_case_capstone.png
  resources/images/use_case_diagram.png
  resources/images/use_case_diagrams/use_case_diagram.png
  src/client/src/models/Employee.js
  src/client/src/models/Task.js
  src/client/src/services/login.js
  src/client/src/services/tasks/index.js
Labels: client, documentation, layout

#61 Refactored folder structure and updated eslint
  src/client/.eslintrc.json
  src/client/package-lock.json
  src/client/package.json
  src/client/src/components/Activity/Calendar.js
  src/client/src/components/Activity/Calendar.test.js
  src/client/src/components/Activity/Day.js
  src/client/src/components/Activity/TimeSlot.js
  src/client/src/components/Activity/index.js
  src/client/src/components/Activity/styles.css
  src/client/src/components/App/index.js
  src/client/src/components/App/test.js
  src/client/src/components/Content/Projects/index.js
  src/client/src/components/Content/Schedule/Calendar/Day/TimeSlot/styles.css
  src/client/src/components/Content/Schedule/Calendar/Day/styles.css
  src/client/src/components/Content/Schedule/index.js
  src/client/src/components/Content/Tasks/index.js
  src/client/src/components/Content/index.js
  src/client/src/components/Login/index.js
  src/client/src/components/Login/styles.css
  src/client/src/components/Nav/index.js
  src/client/src/components/Projects/index.js
  src/client/src/components/Projects/styles.css
  src/client/src/components/Tasks/index.js
  src/client/src/components/Tasks/styles.css
  src/client/src/index.js
  src/client/src/models/Employee.js
  src/client/src/models/Task.js
  src/client/src/models/TimeLog.js
  src/client/src/registerServiceWorker.js
  src/client/src/services/employees/index.js
  src/client/src/services/employees/test.js
  src/client/src/services/httpConfig.js
  src/client/src/services/login/index.js
  src/client/src/services/login/test.js
  src/client/src/services/projects/index.js
  src/client/src/services/projects/test.js
  src/client/src/services/tasks/test.js
Labels: client, dev

#69 Fixed routing issues, defined global theme color, refactored code
  src/client/.eslintrc.json
  src/client/package-lock.json
  src/client/package.json
  src/client/src/components/Activity/Calendar.js
  src/client/src/components/Activity/Day.js
  src/client/src/components/Activity/TimeSlot.js
  src/client/src/components/Activity/index.js
  src/client/src/components/App/index.js
  src/client/src/components/App/styles.css
  src/client/src/components/Content/index.js
  src/client/src/components/Content/styles.css
  src/client/src/components/Login/index.js
  src/client/src/components/Login/styles.css
  src/client/src/components/Main/index.js
  src/client/src/components/Main/styles.css
  src/client/src/components/Nav/index.js
  src/client/src/components/Nav/styles.css
  src/client/src/components/PrivateRoute/index.js
  src/client/src/components/Projects/index.js
  src/client/src/components/Tasks/index.js
  src/client/src/index.css
  src/client/src/models/Task.js
  src/client/src/models/TimeLog.js
Labels: client, dev

#70 Fixed props validation errors
  src/client/src/components/Login/index.js
  src/client/src/components/PrivateRoute/index.js
Labels: client, dev

#75 Added redirect to tasks from unknown routes
  src/client/src/components/App/index.js
Labels: client, dev

#74 Projects api test
  src/client/src/services/projects/test.js
  src/package-lock.json
  src/package.json
Labels: test, wip

#73 Added Login API test
  src/client/src/services/login/test.js
  src/package-lock.json
  src/package.json
Labels: test

#82 Add bootstrap styles
  client/.eslintrc.json
  client/package-lock.json
  client/package.json
  client/public/index.html
  client/src/components/App/index.js
  client/src/components/App/styles.css
  client/src/components/Login/index.js
  client/src/components/Nav/index.js
  client/src/components/Nav/styles.css
  client/src/components/Projects/index.js
  client/src/components/Settings/index.js
  client/src/components/Settings/styles.css
  client/src/components/Tasks/index.js
  client/src/components/Time/Calendar.js
  client/src/components/Time/Calendar.test.js
  client/src/components/Time/Day.js
  client/src/components/Time/index.js
  client/src/components/Time/styles.css
  client/src/index.css
  client/src/services/login/test.js
  client/src/services/projects/test.js
  routes/taskData.json
Labels: client, dev, styles

#141 Model casting
  client/src/components/Tasks/TaskListItem.js
  client/src/components/Tasks/index.js
  client/src/models/Task.js
  client/src/services/tasks/index.js
  package-lock.json
  package.json
  routes/tasks.js
Labels: client, dev

#149 Implement task manipulation
  client/src/components/Login/index.js
  client/src/components/Nav/styles.css
  client/src/components/Tasks/DailyTasks.js
  client/src/components/Tasks/TaskListItem.js
  client/src/components/Tasks/index.js
  client/src/components/Tasks/styles.css
  client/src/index.css
  client/src/services/tasks/index.js
  routes/taskData.json
  routes/tasks.js
Labels: client, component, dev
